body {
  font-family: Josefin Sans,sans-serif;
  font-weight: 100;
  background-color: rgb(70, 68, 68);
  text-shadow: 2px 2px rgb(3, 3, 3);
  padding-top: 120px;
}

/* Navigation Bar */

#home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: black;            /* START BLACK */
  backdrop-filter: blur(0px);
  transition: background 0.4s ease, backdrop-filter 0.4s ease,
              box-shadow 0.4s ease;
  z-index: 1000;
}

#home.scrolled {
  background: rgba(0, 0, 0, 0); /* FULLY TRANSPARENT */
  backdrop-filter: blur(0px);
  box-shadow: none;
}

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration:none;
}

.topmenu:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-top: 30px;
  padding-right: 1cm;
}


.profile_name {
  float: left;
  padding-left: 2cm;
  font-size: 30px;
  font-weight: 800;
  color: lightblue;
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: white;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
}

/* About Me */

.about-me {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

#about-me h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 90px;
  color: #ffffff;
  font-family: Josefin Sans,sans-serif;
}

#about-me p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-top: -1cm;
}

.profile_image {
  width: 300px;
  height: fit-content;
  vertical-align: middle;
  margin: 5px;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.skill {
  border: 1px solid gray;
  color: white;
  background-color: rgb(133, 129, 129);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  box-shadow: 0 3px 10px rgb(40, 39, 39);
}

.skill img {
  height: 75px;
  align-items: center;
}

.skills h3 {
  align-items: center;
  font-size: 300;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 30px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
  color: white;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
  color: white;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  color: white;
}

.recommendation {
  background-color: rgb(133, 129, 129);
  box-shadow: 0 3px 10px rgb(40, 39, 39);
  color: white;
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  border-radius: 11px;
  padding: 20px;
  margin: 10px;
  border:1px solid gray;
  font-size: 18px;
  height:150px
}

.recommendation span {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* RECOMMENDATION FORM */

.flex_center {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_center fieldset{
  background-color: gray;
  border-color: black;
  border-radius: 2.4%;
  box-shadow: 0 3px 10px rgb(40, 39, 39);
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: gray;
  color: white;
  border-radius: 5mm;
  border-color: black;
  box-shadow: 1px 1px black;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid gray;
  color: gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid gray;
  color: gray;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Josefin Sans', sans-serif; 
  margin: auto;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid black;
  color: gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: rgb(185, 184, 184);
  border: 1px solid black;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}